@import 'variables.scss';

body {
	padding-top: 2px;
	padding-bottom: 40px;
}

.table-users {
    tbody td {
        line-height: 36px;
    }

    tfoot td.pagination-wrap {
        background-color: #f8f8f8;

        & .pagination {
            margin: 0px;
        }
    }
}