*.py[cod]

# C extensions
*.so

node_modules
.DS_Store

app/*.js
app/*/*.js
app/*/*/*.js
app/*/*/*/*.js
app/*/*/*/*/*.js

tests/spec/*.js
tests/spec/*/*.js
tests/spec/*/*/*.js
tests/spec/*/*/*/*.js

!app/assets/*
!app/assets/*/*


